*{
	padding: 0;
margin: 0;
}

h1 {
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px
}
h2 {
	font-size: 25px;
}

ol {
	padding: 25px;
}
ul {
	padding: 0px;
}

nav ul {
	background-color: #ff0000;
	width: 100%;
	list-style-type:none;
	text-align: center;
}

nav li:hover {
	background-color: black;
}

nav li {
	display: inline-flex;
}

nav a {
	font-size: 20px;
	text-decoration: none;
	color: white;
	padding: 15px;
	width: 150px;
}


.contenido {
	display: flex;
	margin: 60px;
}

.articulos {
	width: 80%;
}

.secciones {
	display: flex;
	align-items: center;
	padding: 40px;
	color: black;
}

.menu-secundario {
	width: 20%;
	margin-top: 60px;	
}
.menu-secundario a {
	display: block;
	text-align: center;
	color: black;
	margin-bottom: 20px;
}

body {
	background-color: whitesmoke;
}

a:hover {
	color: red;
}
footer {
	background-color: rgb(0, 0, 0);
	padding: 30px;
	display: grid;
}
p {
	font-size: 20px;
}

h3 {
	color: white;
}
button {
	padding: 10px;
	background-color: green;
	color: white;
	border: none;
	text-decoration: none;
	font-size: 20px;
	border-radius: 100px;
}